<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824199612931-dmrfti77kupp73lm5f4slin5j8r2ej1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824199612931-dmrfti77kupp73lm5f4slin5j8r2ej1n</string>
	<key>API_KEY</key>
	<string>AIzaSyBb_zUvsD7Iz7R8emSqhsSIqpBRSej8Ij4</string>
	<key>GCM_SENDER_ID</key>
	<string>824199612931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtalamantes.quizapp</string>
	<key>PROJECT_ID</key>
	<string>fireshipquiz-2bc40</string>
	<key>STORAGE_BUCKET</key>
	<string>fireshipquiz-2bc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824199612931:ios:0e6b599214920b0ca05c36</string>
</dict>
</plist>